 *{
  list-style: none;
  text-decoration: brown;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.intro_bg {
  background-image:url("Innxxxx/Inn.png");
  background-size: cover;
  width: 850px;
  height: 900px;

}

.searcharea{
  width: 300px;
  height: 40px;
  background: white;
  border-radius: 5px;
}

.header{
  display: flex;
  width: 1280;
  margin: auto;
  height: 86px;
  
}

.nav{
  display: flex; 
  justify-content: flex-end;
  width:calc(1280px);
  background: white ;
}

.nav > li{
  margin-left: 84px;
}